<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Animal Lovers</h1>
    <span class="menu-spacer"></span>
    <div fxFlex fxLayoutAlign="end" fxLayoutGap="10px">
      <button mat-button routerLink="/dashboard">Dashboard</button>
      <button mat-button *ngIf="isLogged$ | async" routerLink="/animals">
        All animals
      </button>
      <button
        mat-button
        (click)="goToLogin()"
        *ngIf="!(isLogged$ | async); else loggedUserInfo"
      >
        Login
      </button>
      <ng-template #loggedUserInfo>
        <div id="user-info">
          <img
            alt="User Avatar"
            class="avatar-image"
            src="assets/images/user.png"
          />
          <div id="user-detail">Welcome, {{ auth.MOCKED_USERNAME }}</div>
        </div>
        <button (click)="auth.logout()" mat-raised-button>Logout</button>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
